{
    "globals": {
        "set_cookie":{},
        "get_cookie":{},
        "enable_move_tools":{},
        "server":{},
        "add_form":{},
        "get_theme":{},
        "remove_form":{},
        "enable_tool":{},
        "theme_bar":{},
        "theme_nav":{},
        "theme_form":{},
        "theme_btn":{},
        "theme_inp":{},
        "theme_gen":{},
        "logout":{},
        "footer":{},
        "get_footer":{},
        "image_user_path":{},
        "yesno":{},
        "simple":{},
        "show_user_tools":{},
        "hide_user_tools":{},
        "enable_add_tool":{},
        "upload_mp3":{},
        "audio_path":{},
        "show_admin_tools":{},
        "theme_article":{},
        "update_selected":{},
        "theme_section":{},
        "pageid":{},
        "show_title":{},
        "vh2px":{},
        "update_article_positions":{},
        "update_section_positions":{},
        "author":{},
        "username":{},
        "set_username":{},
        "is_adm":{},
        "set_adm":{},
        "key":{},
        "selected_section":{},
        "selected_article":{},
        "select_section":{},
        "select_article":{},
        "unselect_section":{},
        "unselect_article":{},
        "theme_title":{},
        "Site":{},
        "hide_admin_tools":{},
        "get_style":{},
        "enable_delete_tool":{},
        "enable_shadow_tool":{},
        "enable_link_tool":{},
        "get_child_pos":{},
        "add_tag":{},
        "set_style":{},
        "is_valid":{},
        "error":{},
        "get_title":{},
        "image_page_path":{},
        "resize_img_by_wheel":{},
        "enable_article_tools":{},
        "enable_text_tools":{},
        "enable_section_tools":{},
        "image_path":{},
        "popup":{},
        "password":{},
        "close_password":{},
        "entering_article":{},
        "leaving_article":{},
        "entering_section":{},
        "leaving_section":{},
        "add_section":{},
        "vw2px":{},
        "get_content":{},
        "filename_only":{},
        "upload_image":{},
        "get_navbar":{},
        "enable_element":{},
        "get_comments":{},
        "enable_save_tool":{},
        "add_class":{},
        "remove_class":{},
        "get_selected_text":{},
        "toggle_tag":{},
        "replace_class":{},
        "toggle_class":{}
   }
}