
#comments-container {
    margin-top: 4vh;
}

.comments-content {
    display: none;
}

.comments-content {
    color: var(--sectionFg);

    outline: var(--articleBorder) solid var(--sectionFg);
    border-radius: var(--borderRadius);
}

.comments-tools {
    height: 5vh;
    text-align: left;
    padding-left: 2vw;
    padding-top: calc( var(--btnH)/4);
}

.comment-block {
    display: grid;
    grid-template-areas: "picture text"
    "author text"
    "date text"
    "empty text";
    grid-template-columns: 60px auto;
    grid-template-rows: 48px 1em 0.8em auto;

    margin: 4px 20px 3vh 10px;
    min-height: calc(6*var(--fontsize));

    outline-style: solid;
    outline-color: var(--sectionFg);
    outline-width: calc( var(--articleBorder) * 1px);


    border-radius: var(--borderRadius);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--articleShadow));

}

.comment-author {
    grid-area: author;
}

.comment-picture {
    grid-area: picture;
    height: auto;
}

.comment-date {
    grid-area: date;
    font-size: 0.6em;
}

.comment-cont {
    text-align: left;
}

.comment-title {
    text-align: left;
    font-weight: bold;
    font-size: calc( 1.1 * var(--fontsize));
    border-bottom: 2px solid var(--sectionFg);
}

.comment-text {
    grid-area: text;
}

#comm-username {
    outline: none;
}

#comm-comment {
    min-height: 10vh;
    
    background-color: var(--inpBg);
    color: var(--inpFg);
    
    font-weight: var(--inpWeight);
}
