form {
    display: block;
    width: auto;
    min-height: 10vh;
    padding: 2vw;
    background: var(--formBg);
    color: var(--formFg);
    border-radius: var(--borderRadius);
    outline-style: solid;
    outline-color: var(--formFg);
    outline-width: calc( var(--formBorder) * 1px);


    box-shadow: 10px 10px 15px rgba(0, 0, 0, var(--formShadow));
    z-index: 2000 !important;

}

.form-banner {
    background-color: var(--formFg);
    color: var(--formBg);
    box-shadow: none;
    border: none;
    outline: 1px solid + var(--formFg);
    cursor: grab;
    height: 1em;
}

form div {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

